
#contact-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 18px;
    height:60%;
    width: 50%;
}

input, button {
    width:70%;
    height: 40px;
    border: 1px solid lightgray;
    padding: 12px;
}

a {
    color: grey;
}




