*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  border: none;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  background-color: black;
  flex-direction: column;
  width:100vw;
  height:100vh;
}

.banner {
  z-index: -1;
  pointer-events: none;
  position: fixed;
  background-image:  url("../images/pexels-vincent-ma-janssen.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  opacity: 0.3;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:6rem;
  padding: 10px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.navbar ul li a {
  color:white;
}

li {
  padding:10px;
  border: 1px solid rgba(255, 255, 255, 0);
}

li:hover {
  animation: 1s hovered forwards;
}

.selected-link {
  text-decoration: underline;
  background-color: rgba(162, 162, 162, 0.34);
  border-bottom-left-radius: 10px;
}

@keyframes hovered {

  100% {
    border: 1px solid rgba(255, 255, 255, 0.51);
  }
}
