
#register-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    height:60%;
    width: 30%;
    margin: auto;
}
label, p {
    color: white;
}
input, button {
    width:70%;
    height: 40px;
}

a {
    color: grey;
}

h1 {
    color: white;
    padding: 10px;
}

#signin-container {
    padding:10px;
}

#form-error {
    color: red;
}

