h2, p {
  font-family: 'Forum', cursive;
  text-align: center;
}

h2 {
  color: #383636;
  font-size: 1.5em;
}

p {
  color: #575656;
  font-size: 1.2em;
}

#search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(20, 21, 23, 0.62);
  width: 100%;
  height:100%;
  padding:10px;
  overflow: hidden;
}

#pokemon-search {
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,button,select {
  width:100px;
  height:60px;
  text-align: center;
}

#poke-grid-container {
  flex:4;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  width: 100%;
}

.poke-list-item {
  background-color: rgba(233, 243, 243, 0.83);
  display: flex;
  flex-direction: column;
  width:10rem;
  height:15rem;
  border-radius: 10px;
  padding: 5px;
  margin:20px;
  box-shadow: 5px 7px 8px rgba(0, 0, 0, 0.77);

  justify-content: space-around;
  align-items: center;
}

.poke-list-item .info-container {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke-list-item .img-container {
  flex:2;
  width:100px;
  height: 100px;
}








#loading-icon-container {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  height: 100vh;
  width:100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-icon{
  pointer-events: none;
  position: fixed;
  width:100px;
  height:100px;

  border-left: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#loading-icon-container p {
  color: #c2bebe;
}

@keyframes spin {
  100% {
    transform:rotate(360deg);
  }
}
