<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SBA App: About</title>
  <!-- <script defer src="../js/validation.js"></script> -->

  <link rel="stylesheet" href="../css/sba-css-site.css">
  <style>
    table {
      width: 100%;
      border: 1px solid lightgray;
      background-color: white;
    }
    th {
      text-align: left;
      border-bottom: 1px solid lightgray;
    }
    th, td {
      padding: 6px;
    }
  </style>
</head>
<body>

<div class="banner">
</div>

<header>
  <nav class="navbar">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li class="selected-link"><a href="about.html">About</a></li>
    </ul>
  </nav>
</header>
<h1>About Camille Jones</h1>
<p>Here is a list of Camille's books:</p>
<table>
  <tr>
    <th>Books</th>
    <th>Year</th>
    <th>Rating</th>
  </tr>
  <tr>
    <td>First Book</td>
    <td>2014</td>
    <td>8.5</td>
  </tr>
  <tr>
    <td>Second Book</td>
    <td>2008</td>
    <td>7.8</td>
  </tr>
  <tr>
    <td>Third Book</td>
    <td>1999</td>
    <td>9.1</td>
  </tr>
</table>
</body>
</html>
