<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About the Author</title>
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <div class="banner">
  </div>
  <table>
    <tr>
      <th>books</th>
      <th>Year</th>
      <th>Rating</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>
  
</body>
</html>
