<!DOCTYPE html> 
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SBA App: Contact</title>
  <script defer src="../js/validation.js"></script>
 
  <!--<link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css"> -->
  <link rel="stylesheet" href="../css/sba-css-site.css">
</head>
<body>

<div class="banner">
</div>

<header>
  <nav class="navbar">
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li class="selected-link"><a href="contact.html">Contact</a></li>
      <li><a href="about.html">About</a></li>
    </ul>
  </nav>
</header>
<form id="contact-form" onsubmit="return false">
    <h1>contact</h1>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" id="email">

    <label for="nme"><b>name</b></label>
    <input type="name" placeholder="Enter name" name="nme" id="nme">

    <label for="msg"><b>message</b></label>
    <input type="message" placeholder="message " name="msg" id="msg">
    <br>

    <button type="submit" class="contactbtn">contact</button>
    <br>
     
</form>
</body>
</html>
