<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PokeTEK register</title>
  <script defer src="../js/validation.js"></script>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/register.css">
</head>
<body>

<div class="banner">
</div>

<header>
  <nav class="navbar">
    <ul>
      <li><a href="../index.html">HOME</a></li>
      <li class="selected-link"><a href="views/register.html">REGISTER</a></li>
      <li><a href="search.html">SEARCH</a></li>
    </ul>
  </nav>
</header>
<form id="register-form" onsubmit="return false">
    <h1>Register</h1>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <br>

    <button type="submit" class="registerbtn">Register</button>
    <br>
  <div id="signin-container">
    <p>Already have an account? <a href="#">Sign in</a></p>
  </div>
</form>
</body>
</html>
