<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PokeTEK Search</title>
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/search.css">
  <script defer src="../js/search.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
</head>
<body>

  <div id="loading-icon-container">
    <div id="loading-icon"></div>
    <p>please wait</p>
  </div>

  <div class="banner">

  </div>

  <header>
    <nav class="navbar">
      <ul>
        <li><a href="../index.html">HOME</a></li>
        <li><a href="register.html">REGISTER</a></li>
        <li class="selected-link"><a href="views/search.html">SEARCH</a></li>
      </ul>
    </nav>
  </header>
  <div id="search-container">
    <form onsubmit="return false" id="pokemon-search">
      <select name="pokefilter" id="pokefilter">
        <option value="name">Name</option>
        <option value="type">Type</option>
      </select>
      <span>
        <input id="pokesearch-input" type="text" placeholder="search"/>
      <button type="submit" id="poke-search-button">GO</button>
      </span>
    </form>


    <div id="poke-grid-container"></div>
  </div>
</body>
</html>
